---
const { label = 'Menu', id = 'menu-toggle' } = Astro.props;
---
<button class="icon-button" type="button" id={id} aria-label={label} aria-controls="site-drawer" aria-expanded="false">
  <span></span>
  <span></span>
  <span></span>
</button>
